@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

html {
   scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
   --text-base: 16px;
   --font-sans: "Inter", sans-serif;
}

@layer base {
   body {
      @apply bg-white w-full text-gray-600;
      /* Dark mode */
      @apply dark:bg-gray-950
   }

   h1 {
      @apply text-4xl md:text-5xl lg:text-6xl;
   }

   h2 {
      @apply text-3xl md:text-4xl lg:text-5xl;
   }

   h3 {
      @apply text-2xl md:text-3xl lg:text-4xl;
   }

   h4 {
      @apply text-lg md:text-2xl lg:text-3xl;
   }

   h1,
   h2,
   h3,
   h4 {
      @apply font-bold text-gray-900;
      @apply dark:text-white;
   }

   p, span {
      @apply text-base text-gray-600;
      /* Dark mode */
      @apply dark:text-gray-300;
   }

   section {
      @apply py-20 bg-white;
   }

   section:nth-child(even) {
      @apply bg-gray-100;
      @apply dark:bg-gray-900;
   }

   section:nth-child(odd) {
      @apply bg-white;
      @apply dark:bg-gray-950;
   }
}

@layer components {
   .btn {
      @apply px-6 py-2 bg-gray-900 text-white hover:bg-white hover:text-gray-900 border border-gray-900 rounded-2xl transition cursor-pointer;
      /* Dark mode */
      @apply dark:bg-white dark:hover:bg-gray-900 dark:hover:border-white dark:text-gray-900 dark:hover:text-white;
   }

   .nav-link {
      @apply text-gray-600;
      @apply dark:text-white;
   }

   .social-link,
   .nav-link {
      @apply relative cursor-pointer flex items-center justify-center;
      @apply after:absolute after:left-0 after:-bottom-1 after:w-full after:h-0.5 after:bg-gray-900;
      @apply after:content-[''];
      @apply after:scale-x-0 after:origin-left after:transition-transform after:duration-300;
      @apply hover:after:scale-x-100;

      /* Dark Mode */
      @apply dark:after:bg-white;
   }

   .social-link svg {
      @apply w-6 h-10;
   }

   .nav-link {
      @apply hover:text-black;
   }

   ul li {
      @apply mb-1;
   }

   svg.social {
      @apply dark:text-white;
   }
}

@layer utilities {
   .media-screen {
      @apply md:mx-auto md:max-w-7xl sm:px-6;
   }

   .profile-picture {
      @apply z-20 before:absolute before:content-[''] before:w-[92.5%] before:h-[92.5%] relative before:z-10 before:bg-gray-300 dark:before:bg-gray-600;
   }

   .profile-picture img {
      @apply relative z-20 p-2 bg-white;
      @apply dark:bg-gray-950;
   }

   .section {
      @apply text-sm text-center bg-gray-200 self-center px-4 py-1 rounded-full text-gray-500;
      /* Animation */
      @apply hover:rotate-15 hover:shadow-lg transition-all hover:scale-105 cursor-pointer;
      /* Dark */
      @apply dark:bg-gray-600 dark:text-gray-300;
   }

   .icon {
      @apply transition-transform duration-100;
      @apply hover:scale-105 hover:-translate-y-1;
      @apply active:scale-95;
   }

   .card {
      @apply bg-white dark:bg-gray-800 dark:text-gray-300 shadow-md/20 rounded-lg transition-transform duration-300 w-[900px] mx-auto overflow-hidden;
      @apply hover:shadow-xl hover:scale-101;
   }

   .debug,
   .debug-inner > * {
      @apply outline-1 outline-red-600;
   }
}
