@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --text-base: 16px;
    --font-sans: 'Inter', sans-serif;
}

@layer base {
    body {
        @apply bg-white w-full text-gray-600 md:mx-auto md:max-w-7xl sm:px-6;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply font-bold text-gray-900;
    }

    p {
        @apply text-base;
    }
}

@layer components {
    .btn {
        @apply px-6 py-2 bg-gray-900 text-white hover:bg-white hover:text-gray-900 border border-gray-900 rounded-2xl transition cursor-pointer;
    }

    .nav-link {
        @apply hover:underline hover:text-black cursor-pointer;
    }
}

@layer utilities {
    .debug,
    .debug-inner > * {
        @apply outline-1 outline-red-600;
    }
}