@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

html {
   scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
   --text-base: 16px;
   --font-sans: "Inter", sans-serif;
}

@layer base {
   body {
      @apply bg-white w-full text-gray-600;
      /* Dark mode */
      @apply dark:bg-gray-950;
   }

   h1 {
      @apply text-4xl md:text-5xl lg:text-6xl;
   }

   h2 {
      @apply text-3xl md:text-4xl lg:text-5xl;
   }

   h3 {
      @apply text-2xl md:text-3xl lg:text-4xl;
   }

   h4 {
      @apply text-lg md:text-2xl lg:text-3xl;
   }

   h1,
   h2,
   h3,
   h4 {
      @apply font-bold text-gray-900;
      @apply dark:text-white;
   }

   p, span {
      @apply text-base text-gray-600;
      /* Dark mode */
      @apply dark:text-gray-300;
   }

   section {
      @apply py-12 md:py-20 bg-white;
   }

   section:nth-child(even) {
      @apply bg-gray-100;
      @apply dark:bg-gray-900;
   }

   section:nth-child(odd) {
      @apply bg-white;
      @apply dark:bg-gray-950;
   }
}

@layer components {
   .btn {
      @apply px-6 py-2 bg-gray-900 text-white hover:bg-white hover:text-gray-900 border border-gray-900 rounded-2xl transition cursor-pointer;
      /* Dark mode */
      @apply dark:bg-white dark:hover:bg-gray-900 dark:hover:border-white dark:text-gray-900 dark:hover:text-white;
   }

   .nav-link {
      @apply text-gray-600;
      @apply dark:text-white;
   }

   .social-link,
   .nav-link {
      @apply relative cursor-pointer flex items-center justify-center;
      @apply after:absolute after:left-0 after:-bottom-1 after:w-full after:h-0.5 after:bg-gray-900;
      @apply after:content-[''];
      @apply after:scale-x-0 after:origin-left after:transition-transform after:duration-300;
      @apply hover:after:scale-x-100;

      /* Dark Mode */
      @apply dark:after:bg-white;
   }

   .social-link svg {
      @apply w-6 h-10;
   }

   .nav-link {
      @apply hover:text-black;
   }

   ul li {
      @apply mb-1;
   }

   svg.social {
      @apply dark:text-white;
   }
}

@layer utilities {
   .media-screen {
      @apply md:mx-auto md:max-w-7xl ;
   }

   .profile-picture {
      @apply bg-inherit z-20 before:absolute before:content-[''] before:w-[92.5%] before:h-[92.5%] relative before:z-10 before:bg-gray-300 dark:before:bg-gray-600;
   }

   .profile-picture img {
      @apply relative z-20;
   }

   .section {
      @apply text-sm text-center bg-gray-200 self-center px-4 py-1 rounded-full text-gray-500;
      /* Animation */
      @apply hover:rotate-15 hover:shadow-lg transition-all hover:scale-105 cursor-pointer;
      /* Dark */
      @apply dark:bg-gray-600 dark:text-gray-300;
   }

   .icon {
      @apply transition-transform duration-100;
      @apply hover:scale-105 hover:-translate-y-1;
      @apply active:scale-95;
   }

   .card {
      @apply bg-white dark:bg-gray-800 dark:text-gray-300 shadow-md/20 rounded-lg transition-transform duration-300 max-w-[900px] mx-auto overflow-hidden;
      @apply hover:shadow-xl hover:scale-101;
   }

   .debug,
   .debug-inner > * {
      @apply outline-1 outline-red-600;
   }
}

@theme inline {
   --radius-sm: calc(var(--radius) - 4px);
   --radius-md: calc(var(--radius) - 2px);
   --radius-lg: var(--radius);
   --radius-xl: calc(var(--radius) + 4px);
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --color-card: var(--card);
   --color-card-foreground: var(--card-foreground);
   --color-popover: var(--popover);
   --color-popover-foreground: var(--popover-foreground);
   --color-primary: var(--primary);
   --color-primary-foreground: var(--primary-foreground);
   --color-secondary: var(--secondary);
   --color-secondary-foreground: var(--secondary-foreground);
   --color-muted: var(--muted);
   --color-muted-foreground: var(--muted-foreground);
   --color-accent: var(--accent);
   --color-accent-foreground: var(--accent-foreground);
   --color-destructive: var(--destructive);
   --color-border: var(--border);
   --color-input: var(--input);
   --color-ring: var(--ring);
   --color-chart-1: var(--chart-1);
   --color-chart-2: var(--chart-2);
   --color-chart-3: var(--chart-3);
   --color-chart-4: var(--chart-4);
   --color-chart-5: var(--chart-5);
   --color-sidebar: var(--sidebar);
   --color-sidebar-foreground: var(--sidebar-foreground);
   --color-sidebar-primary: var(--sidebar-primary);
   --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
   --color-sidebar-accent: var(--sidebar-accent);
   --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
   --color-sidebar-border: var(--sidebar-border);
   --color-sidebar-ring: var(--sidebar-ring);
}

:root {
   --radius: 0.625rem;
   --background: oklch(1 0 0);
   --foreground: oklch(0.145 0 0);
   --card: oklch(1 0 0);
   --card-foreground: oklch(0.145 0 0);
   --popover: oklch(1 0 0);
   --popover-foreground: oklch(0.145 0 0);
   --primary: oklch(0.205 0 0);
   --primary-foreground: oklch(0.985 0 0);
   --secondary: oklch(0.97 0 0);
   --secondary-foreground: oklch(0.205 0 0);
   --muted: oklch(0.97 0 0);
   --muted-foreground: oklch(0.556 0 0);
   --accent: oklch(0.97 0 0);
   --accent-foreground: oklch(0.205 0 0);
   --destructive: oklch(0.577 0.245 27.325);
   --border: oklch(0.922 0 0);
   --input: oklch(0.922 0 0);
   --ring: oklch(0.708 0 0);
   --chart-1: oklch(0.646 0.222 41.116);
   --chart-2: oklch(0.6 0.118 184.704);
   --chart-3: oklch(0.398 0.07 227.392);
   --chart-4: oklch(0.828 0.189 84.429);
   --chart-5: oklch(0.769 0.188 70.08);
   --sidebar: oklch(0.985 0 0);
   --sidebar-foreground: oklch(0.145 0 0);
   --sidebar-primary: oklch(0.205 0 0);
   --sidebar-primary-foreground: oklch(0.985 0 0);
   --sidebar-accent: oklch(0.97 0 0);
   --sidebar-accent-foreground: oklch(0.205 0 0);
   --sidebar-border: oklch(0.922 0 0);
   --sidebar-ring: oklch(0.708 0 0);
}

.dark {
   --background: oklch(0.145 0 0);
   --foreground: oklch(0.985 0 0);
   --card: oklch(0.205 0 0);
   --card-foreground: oklch(0.985 0 0);
   --popover: oklch(0.205 0 0);
   --popover-foreground: oklch(0.985 0 0);
   --primary: oklch(0.922 0 0);
   --primary-foreground: oklch(0.205 0 0);
   --secondary: oklch(0.269 0 0);
   --secondary-foreground: oklch(0.985 0 0);
   --muted: oklch(0.269 0 0);
   --muted-foreground: oklch(0.708 0 0);
   --accent: oklch(0.269 0 0);
   --accent-foreground: oklch(0.985 0 0);
   --destructive: oklch(0.704 0.191 22.216);
   --border: oklch(1 0 0 / 10%);
   --input: oklch(1 0 0 / 15%);
   --ring: oklch(0.556 0 0);
   --chart-1: oklch(0.488 0.243 264.376);
   --chart-2: oklch(0.696 0.17 162.48);
   --chart-3: oklch(0.769 0.188 70.08);
   --chart-4: oklch(0.627 0.265 303.9);
   --chart-5: oklch(0.645 0.246 16.439);
   --sidebar: oklch(0.205 0 0);
   --sidebar-foreground: oklch(0.985 0 0);
   --sidebar-primary: oklch(0.488 0.243 264.376);
   --sidebar-primary-foreground: oklch(0.985 0 0);
   --sidebar-accent: oklch(0.269 0 0);
   --sidebar-accent-foreground: oklch(0.985 0 0);
   --sidebar-border: oklch(1 0 0 / 10%);
   --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
   }
  body {
    @apply bg-background text-foreground;
   }
}
